
VITE_API_BASE_URL=http://localhost:8000

# Google Apps Script Web App URL (used by appointment form)
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxM68oriZ-R_egzhbrBRH6BnBw7z1Xy0lQbibhPj3h1a1xDkanSxvFdb-74fiILMsfN2w/exec
